version: "v2.36.0-desktop.1"

services:

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    networks:
      - app-network
    restart: unless-stopped

  backend:
    develop:
      watch:
        - action: rebuild
          path: ./backend/package.json
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - path: ./backend/.env
        required: true
    depends_on:
      - redis
    networks:
      - app-network

  frontend:
    develop:
      watch:
        - action: rebuild
          path: ./frontend/package.json
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - path: ./frontend/.env
        required: true
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge